* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}

nav {
    width: 100%;
    background-color: brown;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    padding: 15px 20px;
    color: whitesmoke;
}

nav a:hover {
    background-color: darkred;
}

header, .contact {
    height: 100vh;
    padding: 50px;
    background-color: rgb(29, 29, 29);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: whitesmoke;
}

header h2, .contact p {
    color: brown;
    font-weight: normal;
    font-style: italic;
}

.work {
    padding: 80px 30px;
    background-color: teal;
    text-align: center;
}

.works {
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-item {
    margin: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    display: block;
}

.works-item p {
    display: block;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(29, 29, 29);
}

span {
    margin-right: 5px;
}

.con {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.con a {
    margin: 5px 10px;
    padding: 5px;
    color: whitesmoke;
    float: left;
    font-weight: 500;
    transition: 0.5s;
}

.con a:hover {
    transform: translateY(5px);
}

footer {
    padding: 25px;
    text-align: center;
    color: whitesmoke;
    border-top: 2px solid brown;
    background-color: rgb(29, 29, 29);
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: rgb(29, 29, 29);
    
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: brown;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: maroon;
  }

  ::-webkit-scrollbar-thumb:active {
    background: darkred;
  }

/* desktop css */
@media only screen and (min-width: 768px) {
   
    .works {
        width: 1000px;
        max-width: 100%;
    }

    .works-item {
        flex: 30%;
        max-width: 30%;
        margin: 15px;
    }
    
}